.ApplyForm {
  margin: 15px auto;
}

Form .btn-container {
  width: calc(70vw);
}

.btn-right {
  float: right;
  margin-left: 20px;
}

.btn-center{
  width: 10%;
  margin-left: 45%;
}

.icon-primary {
  color: #1890ff;
}
.icon-success {
  color: #52c41a;
}

.icon-error {
  color: #f5222d;
}

.icon-warning {
  color: #faad14;
}

.icon-center {
  font-size: 7rem;
  width: 10%;
  margin: auto 45%;
  margin-bottom: 20px;
}

.p__intruction--sub {
  text-align: center;
}

.margin-top-sm {
  margin-top: 20px;
}
.margin-bottom-sm {
  margin-bottom: 20px;
}

.Login {
  width: 80%;
  padding: 50px 10px;
  margin-left: 10%;
}


.heading-center {
  text-align: center;
}

Form, .Login-Button {
  width: 80%;
  margin-right: 20%;
  text-align: left;
  margin-top: 10px;
}

.AskForm textarea {
  resize: none;
}
