.ApplicationPage {
  width: 90%;
  padding: 10px;
  padding-top: 15px;
  margin: auto 5%;
  min-height: 85vh;
}

.heading__page {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1.5rem;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
}

.p__intruction--main {
  font-size: 120%;
  margin-bottom: 25px;
}

.p__intruction--sub {
}

.notiError {
  padding-top: 15%;
  margin-bottom: 20px;
}

.Footer {
  width: 100%;
  margin: 0;
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    rgba(142, 158, 252, 0.9),
    rgba(28, 62, 255, 0.9)
  );
  padding: 10px;
  min-height: 15vh;
  text-align: center;
}
.Footer a {
  color: #000;
}
