/*

COLORS:
light blue: #8e9efc
medium blue: #5a73fc
dark blue: #1c3eff

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 0px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.heading-primary--main {
  display: block;
  font-size: 6.2rem;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveInLeft 1.5s ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 18px;
  animation: moveInRight 1.5s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(5deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  text-align: justify;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-botton-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  transition: all 0.75s;
}

.btn--white {
  color: #777777;
  background-color: #fff;
}
.btn--white::after {
  background-color: #fff;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.75s;
}

.btn--animated {
  animation: moveInBottom 0.75s ease-out 1s;
  animation-fill-mode: backwards;
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link,
.btn-text:visited {
  color: #5a73fc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5a73fc;
  padding: 0.3rem;
  font-size: 1.6rem;
}
.btn-text:hover {
  background-color: #5a73fc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translate(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}
.icon-primary {
  color: #1890ff;
}
.icon-success {
  color: #52c41a;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 10%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 10;
  outline-offset: 0.5rem;
  transition: all 0.2s;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 2rem;
  top: 2rem;
}
.composition__photo--p3 {
  left: 10%;
  top: 10rem;
}
.composition__photo:hover .composition__photo__photo:not(:hover) {
  transform: scale(0.9);
}
.composition__photo:hover {
  outline: 1.5rem solid #5a73fc;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.criteria-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  min-height: 270px;
}
.criteria-box__icon {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  -webkit-background-clip: text;
  /* color: transparent; */
}
.criteria-box:hover {
  cursor: pointer;
  transform: translateY(-1.5rem) scale(1.03);
}

.card {
  perspective: 150rem;
  position: relative;
  height: 45rem;
}
.card__side {
  color: #fff;
  font-size: 2rem;
  height: 45rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 5rem;
  overflow: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
}
.card__side--back-2 {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
}
.card__side--back-3 {
  background-image: linear-gradient(to right, #55c57a, #28b485);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 23rem;
  border-radius: 5rem 5rem 0 0;
  clip-path: ellipse(80% 70% at 50% 30%);
}
.card__picture--1 {
  background-image: linear-gradient(to right, #8e9efc, #1c3eff),
    url("../img/form.png");
}
.card__picture--2 {
  background-image: linear-gradient(to right, #ffb900, #ff7730),
    url("../img/security.png");
}
.card__picture--3 {
  background-image: linear-gradient(to right, #55c57a, #28b485),
    url("../img/security.png");
}
.card__heading {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(142, 158, 252, 0.85),
    rgba(28, 62, 255, 0.85)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(85, 197, 122, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card__details {
  padding: 3rem;
  color: #777777;
}
.card__details ul {
  list-style-type: none;
  width: 70%;
  margin: auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
.card__details--check {
  color: #28b485;
  font-size: 1.5rem;
}
.card__details--spinner {
  color: #1c3eff;
  font-size: 1.5rem;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.card__cta a {
  max-width: 80%;
}
.card__instruction-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__instruction-tag {
  font-size: 1.5rem;
}
.card__instruction-detail {
  font-size: 2.8rem;
  font-weight: 150;
  margin-bottom: 3rem;
}

.question {
  width: 80%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.question__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  position: relative;
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  margin-top: -1rem;
  shape-outside: circle(50% at 50% 50%);
}
.question__img {
  width: 100%;
  transform: translateY(-1rem);
  transition: all 0.3s;
}
.question__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.question:hover .question__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.question:hover .question__img {
  filter: blur(0.5rem) brightness(70%);
  transform: scale(1.05);
}
.question__text p {
  text-align: justify;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*---------------------------------------------*/
/*---------------------HEADER------------------*/
/*---------------------------------------------*/
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(142, 158, 252, 0.8),
      rgba(28, 62, 255, 0.8)
    ),
    url("../img/background-header.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  min-height: 100vh;
  /*
    Using https://bennettfeely.com/clippy/ to make your clip-path
*/
  -webkit-clip-path: ellipse(65% 60% at 50% 35%);
  clip-path: ellipse(65% 60% at 50% 35%);
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__logo {
  height: 100px;
}
.header__logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.footer {
  width: 100%;
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    rgba(142, 158, 252, 0.9),
    rgba(28, 62, 255, 0.9)
  );
  padding: 10px;
  height: 10rem;
  text-align: center;
}
.footer a {
  color: #000;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  display: inline-block;
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25rem;
}

.section-criterias {
  background-image: linear-gradient(
      to right bottom,
      rgba(142, 158, 252, 0.8),
      rgba(28, 62, 255, 0.8)
    ),
    url("../img/background-criteria.jpeg");
  background-size: cover;
  position: relative;
  padding: 20rem 0;
  clip-path: ellipse(70% 50% at 50% 50%);
  margin-top: -15rem;
}

.section-challenges {
  background-color: #f7f7f7;
  padding: 20rem 0 10rem 0;
  margin-top: -15rem;
}

.section-questions {
  position: relative;
  padding: 5rem 0;
}

.ant-back-top-content {
  background-color: rgba(0, 0, 0, 0.9);
}
.ant-back-top {
  bottom: 50px;
  right: 50px;
}

@media (max-width: 1200px) {
  .row {
    padding: 0 15px;
  }
}

@media (max-width: 1080px) {
  .heading-primary--main {
    font-size: 5rem;
    font-weight: 350;
    letter-spacing: 10px;
  }
}

@media (max-width: 1024px) {
  .heading-primary--main {
    font-size: 4.5rem;
    font-weight: 350;
    letter-spacing: 10px;
  }
  .heading-primary--sub {
    font-weight: 600;
    letter-spacing: 12px;
  }
  .row .col-1-of-4 {
    width: calc((50% - 6rem));
    margin: 10px calc(50% - (50% - 6rem) / 2);
  }
  .row .col-1-of-3 {
    width: calc((60% - 6rem));
    margin: 10px calc(50% - (60% - 6rem) / 2);
  }
  .question {
    width: 90%;
  }
  .question__shape {
    width: 10rem;
    height: 10rem;
  }
  .question__caption {
    font-size: 1.5rem;
  }
}
